@import @/styles/helpers

.line
    position: fixed
    margin: 2rem 0 0
    display: flex
    justify-content: flex-end
    right: 50px
    bottom: 50px
    z-index: 20
    
.backArrow
    display: flex
    justify-content: center
    padding: 8px 1rem
    width: 200px
    border-radius: 4px
    background-color: #50E4E4

.apply
    display: inline-flex
    align-items: center
    color: black
    gap: 0.3rem
    font-size: 0.7rem
    font-family: Proto Mono
    font-weight: 300
    svg
        fill: black
        transition: fill .2s
    &:hover
        svg
            fill: $n5
