@import @/styles/helpers

.line
    position: fixed
    margin: 2rem 0 0
    display: flex
    justify-content: flex-end
    right: 50px
    bottom: 50px
    z-index: 20
    
.backArrow
    display: flex
    justify-content: center
    padding: 4px 1rem
    width: 250px
    border-radius: 25px
    background-color: white

.apply
    display: inline-flex
    align-items: center
    color: black
    gap: 1rem
    font-size: 0.7rem
    font-weight: 600
    svg
        fill: black
        transition: fill .2s
    &:hover
        svg
            fill: $n5
