@import @/styles/helpers
    
.section
    position: relative
    margin: 8rem auto
    width: 100vw
    height: 120vh
    background-color: black
    +m
        margin-bottom: 66px

.container
    width: 80%
    height: 100%
