@import @/styles/helpers

.userProfileTable
    width: 100%
    border-collapse: separate
    background-color: $n6
    border-radius: 24px
    padding: 0 2.25rem

    th, td
        padding: 1.5rem
        text-align: left
        vertical-align: top

    th
        background-color: transparent
        color: $n3

    td
        border-top: 2px solid #363636
        img
            border-radius: 50%
            margin-right: 10px

    th:nth-child(3)
        text-align: center

    tr td:nth-child(3)
        text-align: center

.user
    display: flex
    gap: 10px

.userDetails
    display: flex
    flex-direction: column
    justify-content: center
