@import @/styles/helpers

.userProfileTable
  width: 100%
  border-collapse: separate
  background-color: $n6
  border-radius: 24px
  padding: 0 2.25rem
  table-layout: fixed

  th:nth-child(2), td:nth-child(2)
    width: 40%

  th, td
    padding: 1rem 2rem 1rem 1rem
    vertical-align: top

  th
    background-color: transparent
    color: $n3
    text-align: left

    @media (max-width: 1025px)
      font-size: 12px
    

  td
    border-top: 2px solid #363636

    @media (max-width: 1025px)
      font-size: 12px

.user
  display: flex
  gap: 10px

.userDetails
  display: flex
  flex-direction: column
  justify-content: center

.pagination
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background-color: #151515
  padding: 10px 0

  ul
    display: flex
    flex-direction: row
    list-style: none
    padding: 0
    margin: 0

  li
    margin: 0 5px

  li.previous a, li.next a, li.break a
    background-color: transparent

  li.active a
    background-color: #007bff
    color: white
    &:hover
      background-color: #0056b3

.userData
  color: cyan
  outline: 2px solid

.myScore
  width: 100%
  position: relative
  margin-top: -34px
  z-index: 100
  background: $n6
  text-align: center

  @media (max-width: 767px)
      display: none

.myRow
  position: relative
  top: 6px

  @media (max-width: 1025px)
      top: 0

.pageLink
  text-decoration: none
  color: #fff
  background-color: #333
  padding: 8px 12px
  border-radius: 4px
  cursor: pointer
  display: block // Ensure the anchor tag fills the li for better click area
  &:hover
    background-color: #444

.activeLink
  background-color: #01F7FF
  color: black
  &:hover
    background-color: #07b6cd
