@import @/styles/helpers

.section
    padding-top: 200px
    margin-bottom: 0
    background: $n9

.container
    display: flex
    flex-direction: column
    align-items: center
    gap: 80px

.head
    max-width: 50vw
    text-align: center
    +t
        max-width: 500px
    +m
        max-width: 100%
        margin-bottom: 64px
        text-align: left

.subtitle
    margin-bottom: 24px
    color: $n4

.siri
    position: fixed
    top: 200px
    right: 160px
    cursor: pointer
    z-index: 20
    +m
        top: 160px
        right: 40px

.list
    position: relative
    left: 4rem
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin: -44px -22px 0
    +w
        margin: -44px -13px 0
    +t
        margin: -40px 0 0
        left: 3rem
    +m
        margin: -40px 0 0
        left: 0

.item
    position: relative
    display: flex
    flex-direction: column
    flex: 0 0 calc(16.667% - 44px)
    width: calc(16.667% - 44px)
    margin: 27px 11px 0
    cursor: pointer
    // +w
    //     flex: 0 0 calc(33.333% - 26px)
    //     width: calc(33.333% - 26px)
    //     margin: 44px 13px 0
    +t
        flex: 0 0 calc(25% - 40px)
        width: calc(25% - 40px)
        margin: 22px 11px 0
    +m
        flex: 0 0 calc(50% - 40px)
        width: calc(40%)
        margin: 22px 11px 0
    &:nth-child(n+9)
        +t
            display: none
    // &:hover
    //     img
    //         filter: grayscale(0)

.selected-item
    position: relative
    display: flex
    flex-direction: column
    flex: 0 0 calc(16.667% - 44px)
    width: calc(16.667% - 44px)
    margin: 22px 11px 0
    cursor: pointer
    border: 3px solid #89EB5B
    border-radius: 25px
    box-sizing: border-box
    // +w
    //     flex: 0 0 calc(33.333% - 26px)
    //     width: calc(33.333% - 26px)
    //     margin: 44px 13px 0
    +t
        flex: 0 0 calc(25% - 40px)
        width: calc(25% - 40px)
        margin: 22px 11px 0
    +m
        flex: 0 0 calc(50% - 40px)
        width: calc(40%)
        margin: 22px 11px 0
    &:nth-child(n+9)
        +t
            display: none

.square
    position: absolute
    top: 5px
    right: 1px
    width: 60px
    height: 60px
    border-radius: 16px

.photo
    padding: 8px
    border-top-left-radius: 24px
    background: $n6
    clip-path: url(#polygonPhoto)
    img
        // filter: grayscale(100)
        transition: all .3s
        +t
            filter: grayscale(0)

.inner
    position: relative
    height: 150px
    background: $n8
    border-radius: 18px
    overflow: hidden
    clip-path: url(#polygonPhoto)

.details
    flex-grow: 1
    padding: 16px 16px 20px
    background: $n6
    border-radius: 0 0 24px 24px
    overflow-wrap: break-word
    // +t
    //     padding: 40px 32px 32px

.position
    margin-top: 4px
    +base
    color: $n5

.name
    font-weight: 600
