@import @/styles/helpers

.section
    position: relative
    margin: 6rem 0
    +m
        margin-bottom: 66px

.image
    position: absolute
    right: calc(50% - 577px)
    bottom: -250px
    +w
        right: -180px
    +d
        right: -350px
    +t
        display: none