@import @/styles/helpers

.back
    position: relative
    width: max-content
    display: flex
    padding: 10px 0px
    margin-bottom: 0px
    align-items: center
    gap: 20px
    color: $cyan2
    font-family: "Proto Mono"
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: 27px
    letter-spacing: 0.8px

    &:hover
        cursor: pointer
        filter: brightness(0.7)

.nav
    display: flex
    flex-direction: column

.tabs
    display: flex
    gap: 24px
    padding-top: 32px
    +m
        padding: 0
        gap: 1rem

.tab
    display: flex
    cursor: pointer
    flex-direction: column
    width: 262px
    gap: 20px
    +a
        &:first-child
            width: 65px
        width: 110px
        &:last-child
            width: 120px

    &:hover
        background-color: $n6
        cursor: pointer
        +m
            background-color: transparent
    
    h1
        padding: 2px 6px 0
        font-family: Inter
        font-size: 24px
        font-style: normal
        font-weight: 900
        line-height: 28.8px /* 120% */
        letter-spacing: -0.48px
        +m
            padding: 0
            font-size: 20px
        +a
            font-size: 16px

    &.active
        .ind
            background: #01F7FF
            z-index: 1

.ind
    width: 100%
    height: 2px

.tabsLine
    position: relative
    bottom: 1px
    width: 100%
    height: 1px
    background: $n3
