@import @/styles/helpers

.section
    margin: 10rem 0 4rem

.backgroundGradient
    position: absolute
    left: calc(50% - 200px)
    z-index: -5

    width: 300px
    height: 300px
    border-radius: 9rem
    background: radial-gradient(63.62% 69.52% at 100% 0%, rgba(247, 214, 98, 0.8) 0%, rgba(247, 214, 98, 0.168) 52.08%, rgba(247, 214, 98, 0) 100%),linear-gradient(208.42deg, #F0422A 7.46%, rgba(240, 88, 42, 0.18) 42.58%, rgba(240, 101, 42, 0) 64.13%),radial-gradient(114.51% 122.83% at 0% -15.36%, #E74F6A 0%, rgba(231, 79, 106, 0.22) 66.72%, rgba(231, 79, 106, 0) 100%),linear-gradient(333.95deg, rgba(83, 208, 236, 0.85) -7.76%, rgba(83, 208, 236, 0.204) 19.67%, rgba(138, 137, 190, 0) 35.42%),radial-gradient(109.15% 148.57% at 4.46% 98.44%, #1B3180 0%, rgba(27, 49, 128, 0) 100%),linear-gradient(141.57deg, #4EADEB 19.08%, rgba(78, 173, 235, 0) 98.72%)
    background-blend-mode: normal, normal, normal, normal, multiply, normal
    filter: blur(100px)

.container
    +xl
        max-width: 1158px
    +w
        max-width: 922px

.item
    display: flex
    padding: 64px 0
    border-bottom: 1px solid $n6
    +m
        position: relative
        display: block
        padding: 40px 0 91px

.details
    flex-grow: 1
    padding-right: 48px
    +m
        margin-bottom: 40px
        padding-right: 0

.line
    display: flex
    flex-wrap: wrap
    margin: -12px 0 16px -12px

.status
    margin: 12px 0 0 12px

.title
    margin-bottom: 16px

.content
    max-width: 664px
    margin-bottom: 24px
    +body1
    color: $n3
    +xl
        max-width: 505px
    +w
        max-width: 525px

.apply
    display: inline-flex
    align-items: center
    +text-button
    color: #01F7FF
    +m
        position: absolute
        left: 0
        bottom: 40px
    svg
        margin-left: 40px
        fill: $n5
        transition: fill .2s
    &:hover
        svg
            fill: $n1

.preview
    position: relative
    width: 236px
    height: 170px
    border-radius: 16px
    border: 8px solid $n6
    overflow: hidden
    background: $n2
    +m
        width: 100%
        height: 200px

.timeCount
    color: #01F7FF

.countTitle
    text-align: center

.campaignItem
    position: relative
    margin-top: 50px
    text-align: center