@import @/styles/helpers

.section
    margin: 0rem 0 0

.backgroundGradient
    position: absolute
    bottom: 550px
    left: calc(50% - 200px)
    z-index: -5

    width: 300px
    height: 300px
    border-radius: 9rem
    background: linear-gradient(#EE46D3 10%, #F2371F 20%, #012bff 60%, #00C5DF)
    background-blend-mode: normal, normal, normal, normal, multiply, normal
    filter: blur(100px)

.container
    max-width: 90%

.item
    display: flex
    padding: 64px 0
    border-bottom: 1px solid $n6
    +m
        position: relative
        display: block
        padding: 40px 0 91px

// .details
//     flex-grow: 1
//     padding-right: 48px
//     +m
//         margin-bottom: 40px
//         padding-right: 0

.line
    display: flex
    flex-wrap: wrap
    margin: -12px 0 16px -12px

.status
    margin: 12px 0 0 12px

.title
    margin-bottom: 16px

.content
    max-width: 664px
    margin-bottom: 24px
    +body1
    color: $n3
    +xl
        max-width: 505px
    +w
        max-width: 525px

.apply
    display: inline-flex
    align-items: center
    +text-button
    color: #01F7FF
    +m
        position: absolute
        left: 0
        bottom: 40px
    svg
        margin-left: 40px
        fill: $n5
        transition: fill .2s
    &:hover
        svg
            fill: $n1

// .preview
//     margin-left: 200px
//     margin-right: 200px
//     position: relative
//     width: 70%
//     height: 250px   
//     border-radius: 16px
//     border: 8px solid $n6
//     overflow: hidden
//     background: $n2
//     +m
//         width: 100%
//         height: 100%

.timeCount
    color: #01F7FF

.countTitle
    text-align: center
    font-size: 2rem
    margin-bottom: 1rem
    width: 100%

.campaignItem
    position: relative
    margin-top: 50px
    text-align: center

// Posts
.row
    margin: 1rem 0 6rem
    gap: 3rem
    display: flex
    justify-content: center

.wrap
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    max-width: 1000px
    +d
        max-width: 726px
    +t
        max-width: 100%

.preview
    position: relative
    top: -20px

.listCard
    flex-shrink: 0
    width: 558px
    +d
        flex: 0 0 calc(50% - 48px)
        width: calc(50% - 48px)
        margin: 0 24px
    +t
        width: auto
        margin: 0

.card
    border-radius: 24px
    // border: 1px solid #01F7FF
    overflow: hidden
    width: 600px
    height: 100px
    +m
        box-shadow: none
        width: 350px
    &:hover
        .backgroundCard
            background: linear-gradient(#110a27, #110a27) padding-box, linear-gradient(to bottom, cyan, cyan 40%, #6a4093, #6a4093 66.66%, #2d2d2d, #2d2d2d) border-box !important
        .corner
            fill: #110a27 !important
        .details
            .subtitle
                color: #01f7ff
            .rightArrow
                path
                    fill: #01f7ff !important
        .arrow
            fill: $n1
    &:not(:last-child)
        margin-bottom: 10px
        +m
            margin-bottom: -2rem
    .corner
        fill: #0a0617 !important
        stroke: cyan
        stroke-width: 1px
        z-index: -5
        +m
            top: 0
            bottom: 0
            height: 55%
            width: 15%
            border-bottom-right-radius: 24px
    .square
        display: none
        +m
            top: auto !important
            bottom: 8px

.backgroundCard
    background: linear-gradient(#0a0617, #0a0617) padding-box, linear-gradient(to bottom, cyan, cyan 40%, #6a4093, #6a4093 66.66%, #2d2d2d, #2d2d2d) border-box !important
    border-radius: 24px
    border: 1px solid transparent
    +m
        height: 55%
        width: 380px

.inner
    display: flex
    flex-direction: row
    align-items: center
    +m
        align-items: flex-start

.previewCard,
.details
    flex: 0 0 100%
    +m
        flex: 0 0 auto

.previewCard
    position: relative
    +m
        height: 190px

.details
    padding: 16px 48px 16px

    +m
        padding: 0px 0px 0 32px


.status
    margin-bottom: 6px
    background: $c1s3
    +m
        margin-bottom: 8px

.subtitle
    display: flex
    justify-content: space-between
    margin-bottom: 0
    font-size: 2.5rem
    width: 100%

    +m
        padding: 1rem 0 0
        font-size: 1.5rem
        gap: 90px

.info
    p
        max-width: 600px
        font-size: 1.25rem
        text-align: center

.line
    display: flex
    align-items: center
    +m
        padding-right: 70px

.date
    margin-right: auto
    +caption
    color: $n5

.arrow
    fill: $n5
    transition: fill .3s

.image
    position: absolute
    top: 7.1%
    left: calc(50% - 1056px)
    width: 620px
    pointer-events: none
    font-size: 0
    +w
        display: none

.airdropImage
    &:hover
        filter: brightness(1.2)
