@import @/styles/helpers

.footer
    z-index: 10
    padding: 52px 0 34px
    border: 0
    border-top: 1px solid #59FAFA
    background: linear-gradient(#224243, $n10 40%)

    @media (max-width: 1023px)
        background: linear-gradient(#2C6364, $n10 50%)

    +t
        position: relative
        padding-top: 80px
    +m
        padding: 72px 0 64px

.container
    padding: 0 100px
    +m
        padding: 0 40px

.row
    display: flex
    justify-content: space-between
    +t
        display: block
    +m
        align-items: stretch
    &:not(:last-child)
        margin-bottom: 150px
        +t
            margin-bottom: 72px
        +m
            margin-bottom: 40px

    &:last-child
        justify-content: flex-end

.title
    max-width: 445px
    font-size: 50px
    font-family: Proto Mono
    line-height: 100%
    letter-spacing: -4px
    padding: 0
    text-shadow: gray 1px 0 7px

@keyframes footerTextLoop
    0%
        transform: translateY(0%)

    33.3%
        transform: translateY(-100%)

    66.6%
        transform: translateY(-200%)

    100%
        transform: translateY(-300%)

.footer-text > span
    margin-left: 1.9rem
    height: 40px
    display: inline-block
    position: relative
    overflow: hidden
    transform: translateY(10%)

@media screen and (max-width: 767px)
    .footer-text > span
        height: 30px

.footer-text > span > span
    display: block
    height: calc(100% + 10px)
    display: flex
    flex-direction: column
    gap: 10px
    transition: 800ms all
    animation: footerTextLoop 6s infinite cubic-bezier(0.87, 0, 0.13, 1)
    text-transform: uppercase

    & > span
        display: block
        flex-shrink: 0
        line-height: 0.8

$cyan-100: #59FAFA
$cyan-60: #2C6364
$yellow-100: #FEE506
$yellow-60: #A3A42C
$magenta-60: #632C63

.text-cyan-glowy
    color: $cyan-100
    text-shadow: 2px 2px 10px $cyan-60

.text-yellow-glowy
    color: $yellow-100
    text-shadow: 2px 2px 3px $yellow-60

.text-magenta-glowy
    color: #FF2C79
    text-shadow: 2px 2px 2px $magenta-60

.links
    display: flex
    flex-direction: row

    div
        display: flex
        flex-direction: column

        &:not(:first-child)
            margin-left: 3rem

            @media (max-width: 1023px)
                margin-left: 0

        p
            text-transform: uppercase
            font-family: "Space Grotesk", sans-serif
            font-weight: 300
            font-size: 12px
            margin-bottom: 1rem

        a
            cursor: pointer
            font-family: Proto Mono
            font-size: 14px
            transition: color .5s
            margin-bottom: 0.4rem
            &:hover,
            &.active
                color: #59FAFA

        @media (max-width: 1023px)
            margin-bottom: 3rem

    @media (max-width: 1023px)
        flex-direction: column
        margin-top: 70px

.logo
    margin-right: auto

.menu
    display: flex
    +t
        display: none

.link
    +baseB
    color: $n1
    transition: color .2s
    &:hover,
    &.active
        color: $c1
    &:not(:last-child)
        margin-right: 48px

.copyright
    font-family: "Space Grotesk", sans-serif
    color: #59FAFA
    font-weight: 300
    font-size: 12px
    opacity: 0.5
    +t
        margin-right: 0
    +m
        +caption

.documents
    display: flex
    margin-right: auto
    +d
        display: none

.document
    color: $c1
    transition: color .2s
    &:hover
        color: $c1s1
    &:not(:last-child)
        margin-right: 48px

.socials
    margin-left: auto
    +t
        position: absolute
        top: 72px
        right: 40px
        margin-left: 0
    +m
        position: static
        margin-left: 16px
        margin-bottom: 48px
