.pagination__leaderboard {
    
}

.pagination__leaderboard li.previous, .pagination__leaderboard li.next{
  background-color: #101010;
  padding: 11px 8px;
  border-radius:4px;
}

.pagination__leaderboard li.previous:hover, .pagination__leaderboard li.next:hover{
  background-color: #444;
}

.pagination__leaderboard li.break{
  background-color: #101010;
  padding: 8px 16px;
  border-radius:4px;
  cursor:pointer;
}

.pagination__leaderboard li.break:hover {
  background-color: #444
}

@font-face {
  font-family: 'Proto Mono';
  src: url('../public/fonts/ProtoMono-Bold.otf');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Proto Mono';
  src: url('../public/fonts/ProtoMono-Light.otf');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Proto Mono';
  src: url('../public/fonts/ProtoMono-Regular.otf');
  font-weight: 500;
  font-style: normal;
}