@import @/styles/helpers

.container
    margin: 50px 0 0
    padding: 0 0 2rem

.title
    margin-bottom: -0.5rem
    font-size: 42px
    text-align: center

.subtitle
    color: $n3
    text-align: center
    +m
        margin: 0.5rem 0 0

.nftCards
    display: grid
    grid-template-columns: auto auto auto
    gap: 1rem
    margin-top: 2rem
    margin-bottom: 2rem
    +t
        display: grid
        grid-template-columns: 1fr 1fr
    +m
        display: flex
        flex-direction: column

